@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
	.td_style{
		text-align: center!important;
	}
	.title_style{
		text-align: left!important;
	}
	.title_margin{
		text-align: left!important;
		margin: 1rem 0;
	}
	.table_font_size{
		font-size: 13px!important;
	}
	.fade_style{
		opacity: 100%!important;
	}
    .map_style {
        position: relative!important;
        margin-top: 2rem!important;
        width: 100%!important;
        display: inline-block!important;
    }
