
/*------------------------------------------
  Responsive Grid Media Queries
--------------------------------------------*/

@media (min-width: 1600px) {
  .container{
    max-width: 1500px;
  }
}

@media (max-width: 1450px) {
  .line1{
    margin-top: 1.05rem;
  }
}

@media (min-width: 1350px) {
  .line1{
    margin-top: 0.05rem;
  }

}
@media (max-width: 1350px) {
  .line1{
    margin-top: 3.75rem;
  }
}
/* ---- Start of max-width 992px CSS ---- */
@media (min-width: 992px) {
  .container{
    max-width: 1800px;
  }
}  

@media (max-width: 992px) {
  .container{
    max-width: 900px;
  }
  .hamshow{
    display: inline-block;
    
  }
  .info_button{
    display: block;
    
  }
  .filiter_button{
    display: block;
  }
  .none{
    display: none !important;   
  }

  h1{
    font-size: 1.8rem
  }
  h2{
    font-size: 1.6rem
  }
  h3{
    font-size: 1.5rem
  }
  h4{
    font-size: 1.3rem
  }
/*  h5{
    font-size: 1.2rem
  }
  h6{
    font-size: 1.2rem*/
 /* }*/
  p{
    font-size: 1rem
  }

  #nav-icon3{
    max-width: 50px;

  }
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3){
    top: 14px;
  }

  #nav-icon3 span:nth-child(4){
    top: 28px;
  }
  #nav-icon3 span{
    height: 6px;
  }
  .cube_outer p{
    font-size: 1.3rem;
  }
  .cube_outer h2{
    font-size: 1.8rem;
  }

}


/* ---- End of max-width 992px CSS ---- */
@media all and (min-width: 769px) {



}
@media all and (min-width: 481px) {}


/* ---- Start of min-width 480px and max-width 768px CSS ---- */
@media all and (min-width: 480px) and (max-width: 768px) {
  .middlecenter{
    padding: 15% 0 30% 0;
  }
  .footer_logo img{
    width: 80%;
  }

  .icon_talents,.icon_subsidy_paper,.icon_grb,.icon_interplan,.icon_plan,.icon_inbound,.icon_sixarea,.icon_mechanism,.icon_issue,.icon_subsidy_suggest{
    width: 120%;
    height: 120%;
  }


}
/* ---- End of min-width 480px and max-width 768px CSS ---- */


/* ---- Start of max-width 767px CSS ---- */
@media all and (max-width: 767px) {

  #videoinfo_content .wordadjust2{
    padding: 0;
  }
  .wordad{
    padding: 0rem 2rem;
  }
  #videoinfo_content .col-md-2{
    padding-bottom: 2rem;
  }
  #videoinfo_content .wordadjust{
    padding-bottom: 0;
  }
  .cube_outer p{
    font-size: 1.6rem;
  }
  .cube_outer h2{
    font-size: 2rem;
  }


}

/* ---- End of max-width 767px CSS ---- */


/* ---- Start of max-width 580px CSS ---- */
/* ---- Start of max-width 580px CSS ---- */
@media all and (min-width: 576px) {
  .modal-dialog{
    max-width: 760px;
  }
  .wordaad{
    padding: 0 !important;
  }



}
@media all and (max-width: 576px){
  #banner_content .banner{
    padding-top: 20%;
    padding-bottom: 20%;

  }

}


/* ---- End of max-width 580px CSS ---- */


/* ---- Start of max-width 480px CSS ---- */
@media all and (max-width: 480px) {
  .middlecenter{
    padding: 15% 0 30% 0;
  }
  .footer_logo img{
    width: 80%;
  }

}
/* ---- End of max-width 480px CSS ---- */


/* ---- Start of max-width 420px CSS ---- */
@media all and (max-width: 420px) {



}
/* ---- End of max-width 420px CSS ---- */


/* ---- Start of max-width 380px CSS ---- */
@media all and (max-width: 380px) {

}
/* ---- End of max-width 380px CSS ---- */


/* ---- Start of max-width 320px CSS ---- */
@media all and (max-width: 320px) {



}
/* ---- End of max-width 320px CSS ---- */


/* ---- Start of max-height 420px CSS ---- */
@media screen and (max-height: 420px) {}